{% extends "layout.html" %}
{% block main %}
    <body>


    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <h2>Courses</h2>
                <p>Explore our courses preparing you for SAT, IELTS, and other international tests, enhancing your
                    readiness for study abroad admission.</p>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Courses Section ======= -->
        <section id="courses" class="courses">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    {% for element in course %}

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                            <div class="course-item">
                                <img src="data:image/png;base64, {{ element.img_course_data }}" class="img-fluid"
                                     alt="...">
                                <div class="course-content">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4>{{ element.class_name }}</h4>
                                        <p class="price">${{ element.price }}</p>
                                    </div>

                                    <h3><a href="test1234">{{ element.course_name }}</a></h3>
                                    <p>{{ element.short_description }}</p>
                                    <div class="trainer d-flex justify-content-between align-items-center">
                                        <div class="trainer-profile d-flex align-items-center">
                                            <img src="data:image/png;base64, {{ element.img_teacher_data }}"
                                                 class="img-fluid" alt="">
                                            <span>{{ element.img_teacher_name }}</span>
                                        </div>
                                        {% if session.logged_in %}

                                                <div>
                                                    <button class="btn btn-danger"
                                                            onclick="deleteCourse({{ element.id }})">Delete
                                                    </button>
                                                    <a class="btn btn-light"
                                                       href="/edit_course/{{ element.id }}">Edit</a>
                                                </div>

                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>
            </div>
        </section><!-- End Courses Section -->

    </main><!-- End #main -->

    <script src="/static/assets/js/delete_course.js"></script>

    </body>

{% endblock %}