{% extends "layout.html" %}

{% block main %}
    <div class="breadcrumbs">
        <div class="container">
            <h2>Create Course</h2>
            <p>Only for admins to create courses,
                important you need to fill the whole form in other case you will not add new course</p>
        </div>
    </div><!-- End Breadcrumbs -->
    <div>
        <h1>Add course</h1>
        <form method="post">
            <input type="text" class="form-control" name="class_name" id="class_name" placeholder="Class name" required>
            <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Course name" required>
            <input type="text" class="form-control" name="short_description" id="short_description"
                   placeholder="Short description" required>
            <input type="number" class="form-control" name="price" id="price" placeholder="Price" required>
            <input type="text" class="form-control" name="teacher_name" id="teacher_name"
                   placeholder="Teacher's name" required>
            <input type="file" class="form-control" name="teacher_img" id="teacher_img" placeholder="Teacher's image" required>
            <input type="file" class="form-control" name="course_img" id="course_img" placeholder="Course Image" required>
            <button class="btn btn-success" type="submit">Add course</button>
        </form>
    </div>

{% endblock %}