{% extends "layout.html" %}

{% block main %}
    <form method="post" action="/edit_course/{{ course.id }}">
        <!-- Form fields -->

        <div class="breadcrumbs">
            <div class="container">
                <h2>Edit Course</h2>
                <p>Modify the course details below:</p>
            </div>
        </div><!-- End Breadcrumbs -->

        <div>
            <h1>Edit Course</h1>
            <form method="post">
                <input type="text" class="form-control" name="class_name" id="class_name" placeholder="Class name"
                       value="{{ course.class_name }}">
                <input type="text" class="form-control" name="course_name" id="course_name" placeholder="Course name"
                       value="{{ course.course_name }}">
                <input type="text" class="form-control" name="short_description" id="short_description"
                       placeholder="Short description" value="{{ course.short_description }}">
                <input type="number" class="form-control" name="price" id="price" placeholder="Price"
                       value="{{ course.price }}">
                <input type="text" class="form-control" name="teacher_name" id="teacher_name"
                       placeholder="Teacher's name"
                       value="{{ course.teacher_name }}">
                <input type="file" class="form-control" name="teacher_img" id="teacher_img"
                       placeholder="Teacher's image"
                >
                <input type="file" class="form-control" name="course_img" id="course_img" placeholder="Course Image"
                >
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </form>
        </div>
    </form>

{% endblock %}
