{% extends "layout.html" %}
{% block main %}
    <body>

    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs">
            <div class="container">
                <h2>Teachers&Mentors</h2>
                <p>Meet our experienced team of teachers and mentors dedicated to helping you achieve high scores and
                    excel in your academic pursuits. </p>
            </div>
        </div><!-- End Breadcrumbs -->

        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
            <div class="container" data-aos="fade-up">

                <div class="row" data-aos="zoom-in" data-aos-delay="100">


                    {% for element in teacher %}

                        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                            <div class="member">
                                <img src="data:image/png;base64, {{ element.teacher_img }}" class="img-fluid" alt="">
                                <div class="member-content">
                                    <h4>{{ element.teacher_name }}</h4>
                                    <span>{{ element.subject }}</span>
                                    <p>
                                        {{ element.short_description }}
                                    </p>
                                    {% if session.logged_in %}
                                        <button class="btn btn-danger"
                                                onclick="confirmDelete({{ element.id }})">Delete
                                        </button>
                                        <a class="btn btn-light" href="/edit_course/{{ element.id }}">Edit</a>

                                    {% endif %}
                                    <div class="social">
                                        <a href=""><i class="bi bi-twitter"></i></a>
                                        <a href=""><i class="bi bi-facebook"></i></a>
                                        <a href=""><i class="bi bi-instagram"></i></a>
                                        <a href=""><i class="bi bi-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    {% endfor %}

                </div>

            </div>
        </section><!-- End Trainers Section -->

    </main><!-- End #main -->


    </body>
{% endblock %}